<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
  <p>
    <label for="team_name">Team Name: </label><input type="text" name="team[name]" id="team_name">
    <label for="team_motto">Team Motto: </label><input type="text" name="team[motto]" id="team_motto">
  </p>
  <p>
    <label for="member1_name">Hero's Name: </label><input type="text" name="team[heroes][][name]" id="member1_name">
    <label for="member1_power">Hero's Power: </label><input type="text" name="team[heroes][][power]" id="member1_power">
    <label for="member1_bio">Hero's Biography: </label><input type="text" name="team[heroes][][bio]" id="member1_bio">
  </p>
  <p>
    <label for="member2_name">Hero's Name: </label><input type="text" name="team[heroes][][name]" id="member2_name">
    <label for="member2_power">Hero's Power: </label><input type="text" name="team[heroes][][power]" id="member2_power">
    <label for="member2_bio">Hero's Biography: </label><input type="text" name="team[heroes][][bio]" id="member2_bio">
  </p>
  <p>
    <label for="member3_name">Hero's Name: </label><input type="text" name="team[heroes][][name]" id="member3_name">
    <label for="member3_power">Hero's Power: </label><input type="text" name="team[heroes][][power]" id="member3_power">
    <label for="member3_bio">Hero's Biography: </label><input type="text" name="team[heroes][][bio]" id="member3_bio">
  </p>
  <p>
    <input type="submit" value="submit">
  </p>
</form>
